.object-fit-main{
    padding-left:50px;
    padding-right:50px;
}

.wrapper{}


/* header */
.wrapper>header{
    position:fixed;
    width:100%;
    
    color:white;
    z-index:2;
    height:68px;

    background-image:linear-gradient(to top, rgba(0, 0, 0, 0) 0,  rgba(0, 0, 0, 0.3) 80%)
}
.wrapper>header>.top-header{}

.wrapper>header>nav{
    height:68px;
    

    display:flex;
    justify-content: space-between;
    align-items: center;



}

.wrapper>header>nav>.left{
  

    display:flex;
    justify-content: left;
    align-items: center;
    height:100%;
}
.wrapper>header>nav>.left>.logo{
  
}
.wrapper>header>nav>.left>.logo>img{
    width:120px;
    height:50px;
}

.wrapper>header>nav>.left>.menu{
    margin:0;padding:0;
    list-style: none;
    display:flex;
}
.wrapper>header>nav>.left>.menu>li{
    margin-left:18px;
    font-size:0.9rem;
}
.wrapper>header>nav>.left>.menu>li>a{
    text-decoration: none;
    color:white;
}


.wrapper>header>nav>.right{
    
    height:100%;
    display: flex;
    align-items: center;
}

.wrapper>header>nav>.right>.search{
    display:flex;
    align-items: center;
    position:relative;
}
.wrapper>header>nav>.right>.search>input[type='checkbox']{
    display:none;
}
.wrapper>header>nav>.right>.search>label{
    height : 35px;
    width:35px;

    position:absolute;
    left:-25px;
    z-index:3;
    
}
.wrapper>header>nav>.right>.search>label>span{}

.wrapper>header>nav>.right>.search>input[type='text']{
    visibility:hidden;
    width:0px;
    
    height : 35px;
    background-color: black;
    opacity: 0.5;
    outline: none;
    border:1px solid white;
    color:white;
    
    font-size:0.8rem;
    /* display: none; */

}
.wrapper>header>nav>.right>.search>input[type='checkbox']:checked+label{
    left:0;
}
.wrapper>header>nav>.right>.search>input[type='checkbox']:checked~input[type="text"]{
        visibility: visible;
        padding-left:38px;
        width:200px;
        transition: .4s;
}

.wrapper>header>nav>.right>.notification{
    position:relative;
}
.wrapper>header>nav>.right>.notification::after{
    content:'!';
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:0.6rem;
    font-weight:600;
    background-color: red;
    color:white;
    width:15px;
    height:15px;
    border-radius: 50%;
    border : 1px solid;

    position:absolute;
    left:40%;
    top:0px;
    
}
.wrapper>header>nav>.right>.notification>.trailer{}
.wrapper>header>nav>.right>.notification>.trailer>.items{}
.wrapper>header>nav>.right>.notification>.trailer>.items>.item{}
.wrapper>header>nav>.right>.notification>.trailer>.items>.item>div:nth-child(1){}
.wrapper>header>nav>.right>.notification>.trailer>.items>.item>div:nth-child(2){}

.wrapper>header>nav>.right span{
    font-size:2rem;
}
.wrapper>header>nav>.right>div{
    margin-left:10px;
}

/* main */
.wrapper>main{}

/* section.main-view */
.wrapper>main>section{}
.wrapper>main>section.main-view{
    position:relative;
}
.wrapper>main>section.main-view>.image-block{
   
}
.wrapper>main>section.main-view>.image-block>img{
    width:100%;
}

.wrapper>main>section.main-view>.logo-and-text{
    width:600px;
    height:500px;

    position:absolute;

    left:0;
    top:20%;
    color:white;
   

}
.wrapper>main>section.main-view>.logo-and-text>.header{}
.wrapper>main>section.main-view>.logo-and-text>.body{}
.wrapper>main>section.main-view>.logo-and-text>.body>div:nth-child(1){
    font-size:2rem;
    font-weight: 600;
    margin-bottom:15px;
}
.wrapper>main>section.main-view>.logo-and-text>.body>div:nth-child(2){
    font-size:1.2rem;
}

.wrapper>main>section.main-view>.logo-and-text>.footer{
    display:flex;
}
.wrapper>main>section.main-view>.logo-and-text>.footer>a{
    display:block;
    width:150px;
    height:60px;
    line-height: 60px;
    border-radius: 5px;
    text-align: center;
    font-size:1.5rem;
    color:white;
    border:1px solid white;
    text-decoration: none;
    margin-right:15px;
}.wrapper>main>section.main-view>.logo-and-text>.footer>a:hover{
    opacity: .8;
}
.wrapper>main>section.main-view>.logo-and-text>.footer>a:nth-child(1){
    background-color:white;
    color:black;
}
.wrapper>main>section.main-view>.logo-and-text>.footer>a:nth-child(2){
    background-color: gray;
    width:200px;
}

.wrapper>main>section.main-view>.logo-and-text>div{
    margin-bottom: 25px;
}


/* footer */
.wrapper>footer{}